body{
    background-color: lightgrey;
    
}
div{
    width: 35%;
    height: 200px;
    margin:auto;
    text-align: center;
    background-color: #fff;
}
 
form{
    background-color: beige;
    width: 100%;
    height: 100%;
    text-align: center;
}
.answer-bar{
    width: 80%;
}
input{
    width: 60px;
    padding:10px;
    
}